<!-- <div class="card">
    <h5>Basic</h5>
    <p-chart type="line" [data]="basicData" [options]="basicOptions"></p-chart>
</div> -->
<!-- <div class="card card-style">
    <div id="chart">
    </div>
</div> -->

<div class="card h-full card-style">
    <p-chart type="line" [data]="data" [options]="options" ></p-chart>
</div>


<!-- <div class="col-12 md:col-4">
    <div class="card">
        <h5>Avatar Group</h5>
        <p-avatarGroup styleClass="mb-3">
            <p-avatar image="assets/showcase/images/demo/avatar/amyelsner.png" size="large" shape="circle"></p-avatar>
            <p-avatar image="assets/showcase/images/demo/avatar/asiyajavayant.png" size="large" shape="circle"></p-avatar>
            <p-avatar image="assets/showcase/images/demo/avatar/onyamalimba.png" size="large" shape="circle"></p-avatar>
            <p-avatar image="assets/showcase/images/demo/avatar/ionibowcher.png" size="large" shape="circle"></p-avatar>
            <p-avatar image="assets/showcase/images/demo/avatar/xuxuefeng.png" size="large"shape="circle"></p-avatar>
            <p-avatar label="+2" shape="circle" size="large" [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}"></p-avatar>
        </p-avatarGroup>
    </div>
</div> -->